/* Base CSS for The Tea Cozy */

body {
  background-color: #000000;
  color: seashell;
  font: 22px Helvetica, sans-serif;
  opacity: 0.9;
  text-align: center;
}

a {
  color: seashell;
}

header a.logo {
  text-decoration: none;
  line-height: 0;
}

header {
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  display: flex;
  position: fixed;
    top: 0;
    left: 0;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
  z-index: 10;
}

header img#logo {
  height: 50px;
  margin-left: 10px;
}

header nav {
  text-align: right;
  flex-grow: 1;
}

header nav span {
  display: inline-block;
  padding: 20px 10px;
}